onesait/flows/sres_send_irrigation_plan.json
[
  {
    "id": "9b15eb9a.a228b8",
    "type": "tab",
    "label": "sres_send_irrigation_plan",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ac3a4336.70dc5",
    "type": "inject",
    "z": "9b15eb9a.a228b8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 120,
    "y": 80,
    "wires": [
      [
        "304f7615.be4eea"
      ]
    ]
  },
  {
    "id": "1a1e7553.ec49db",
    "type": "mqtt out",
    "z": "9b15eb9a.a228b8",
    "name": "send_irrigation_plan",
    "topic": "",
    "qos": "1",
    "retain": "true",
    "broker": "d3c3ccbb.eb88e",
    "x": 400,
    "y": 320,
    "wires": []
  },
  {
    "id": "104bfebd.c29981",
    "type": "function",
    "z": "9b15eb9a.a228b8",
    "name": "generate_mqtt_message",
    "func": "msg.topic = \"sr/\"+msg.payload.sysId+\"/command/plan\";\nmsg.payload = msg.payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 220,
    "wires": [
      [
        "1a1e7553.ec49db",
        "5b68fc29.ab3304"
      ]
    ]
  },
  {
    "id": "304f7615.be4eea",
    "type": "onesaitplatform-query-static",
    "z": "9b15eb9a.a228b8",
    "name": "select_pending_plans",
    "ontology": "sres_irrigation_plan",
    "targetDB": "",
    "queryType": "sql",
    "query": "select * from sres_irrigation_plan as c where c.sent = false",
    "authentication": "cmxvcGV6djptdDhZMTFFVi9zL0RjbG4vcFRUanUzZS9pY1l0ckQ2YWNodVNrbW8zTkZBPQ==",
    "x": 340,
    "y": 80,
    "wires": [
      [
        "5bd6744.861938c"
      ]
    ]
  },
  {
    "id": "1a4c9db5.49fc52",
    "type": "debug",
    "z": "9b15eb9a.a228b8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 810,
    "y": 140,
    "wires": []
  },
  {
    "id": "5bd6744.861938c",
    "type": "json",
    "z": "9b15eb9a.a228b8",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 140,
    "y": 160,
    "wires": [
      [
        "d7481363.fd771"
      ]
    ]
  },
  {
    "id": "d7481363.fd771",
    "type": "split",
    "z": "9b15eb9a.a228b8",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 140,
    "y": 240,
    "wires": [
      [
        "104bfebd.c29981"
      ]
    ]
  },
  {
    "id": "5b68fc29.ab3304",
    "type": "function",
    "z": "9b15eb9a.a228b8",
    "name": "generate irrigation Plan command",
    "func": "var command = {};\ncommand.sysId = msg.payload.sysId;\ncommand.command = 'plan';\ncommand.timestamp = new Date().toISOString();\ncommand.content = JSON.stringify(msg.payload);\n\nmsg.ontology = 'sres_system_command';\nmsg.queryType='SQL';\n//Assings Irriation Plan\nmsg.payload = command;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 680,
    "y": 220,
    "wires": [
      [
        "5c86f528.16789c",
        "1a4c9db5.49fc52"
      ]
    ]
  },
  {
    "id": "5c86f528.16789c",
    "type": "onesaitplatform-insert",
    "z": "9b15eb9a.a228b8",
    "name": "insert irrigation plan command",
    "ontology": "sres_system_command",
    "authentication": "cmxvcGV6djptdDhZMTFFVi9zL0RjbG4vcFRUanUzZS9pY1l0ckQ2YWNodVNrbW8zTkZBPQ==",
    "x": 730,
    "y": 320,
    "wires": [
      [
        "450041c5.ff9a5"
      ]
    ]
  },
  {
    "id": "450041c5.ff9a5",
    "type": "debug",
    "z": "9b15eb9a.a228b8",
    "name": "insert command",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 980,
    "y": 320,
    "wires": []
  },
  {
    "id": "6cf440d8.643f3",
    "type": "function",
    "z": "9b15eb9a.a228b8",
    "name": "modify irrigation Plan status",
    "func": "var command = {};\ncommand.sysId = msg.payload.sysId;\ncommand.command = 'plan';\ncommand.timestamp = new Date().toISOString();\ncommand.content = JSON.stringify(msg.payload);\n\nmsg.ontology = 'sres_system_command';\nmsg.queryType='SQL';\n//Assings Irriation Plan\nmsg.payload = command;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 560,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "d3c3ccbb.eb88e",
    "type": "mqtt-broker",
    "z": "",
    "name": "home_server",
    "broker": "83.33.120.33",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "1",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]