onesait/flows/sres_irrigation_process.json
[
    {
        "id": "d765e517.d9ca48",
        "type": "tab",
        "label": "sres_irrrigation_process",
        "disabled": false,
        "info": "Process light measure.\nChecks if its necessary to activate or deactivate actuator\nbased on sm and temperature value"
    },
    {
        "id": "8c93ba78.c298a8",
        "type": "mqtt out",
        "z": "d765e517.d9ca48",
        "name": "send_mqtt_command",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "d3c3ccbb.eb88e",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "fa5a9d38.8946a",
        "type": "debug",
        "z": "d765e517.d9ca48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "b9de8f9e.75487",
        "type": "onesaitplatform-insert",
        "z": "d765e517.d9ca48",
        "name": "insert actuator command",
        "ontology": "sres_system_command",
        "authentication": "cmxvcGV6djptdDhZMTFFVi9zL0RjbG4vcFRUanUzZS9pY1l0ckQ2YWNodVNrbW8zTkZBPQ==",
        "x": 650,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d5dcb32c.db241",
        "type": "function",
        "z": "d765e517.d9ca48",
        "name": "generate command",
        "func": "var command = {};\ncommand.sysId = msg.data.sysId;\ncommand.command = 'actuator';\ncommand.timestamp = new Date().toISOString();\ncommand.content = JSON.stringify(msg.payload);\n\nmsg.ontology = 'sres_system_command';\nmsg.queryType='SQL';\nmsg.payload = command;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 420,
        "wires": [
            [
                "b9de8f9e.75487",
                "fa5a9d38.8946a"
            ]
        ]
    },
    {
        "id": "31726ebb.af5602",
        "type": "function",
        "z": "d765e517.d9ca48",
        "name": "generate_mqtt_message",
        "func": "msg.topic = \"sr/\"+msg.data.sysId+\"/command/valve\";\nmsg.payload = msg.command;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "8c93ba78.c298a8"
            ]
        ]
    },
    {
        "id": "6fc4f517.64f0bc",
        "type": "function",
        "z": "d765e517.d9ca48",
        "name": "Check actuator activation",
        "func": "const MIN_TEMPERATURE = 10;\nconst MIN_SM = 20;\nconst MAX_SM = 70;\nvar val = msg.data.temperature;\nvar val2 = msg.data.sm;\nvar status = msg.data.valve;\nnode.log(val);\nnode.log(status);\n\nif (val > MIN_TEMPERATURE && status) {\n    msg.command = 'off';\n    return msg;  \n} else if (val> MIN_TEMPERATURE && val2<MIN_SM && !status) {\n    msg.command = 'on';\n    return msg;  \n} else if (val2>MAX_SM && status) {\n    msg.command = 'off';\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "99b3ef8e.7102d",
                "b0dc7c8d.a55d9"
            ]
        ]
    },
    {
        "id": "99b3ef8e.7102d",
        "type": "switch",
        "z": "d765e517.d9ca48",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 380,
        "wires": [
            [
                "31726ebb.af5602",
                "d5dcb32c.db241"
            ]
        ]
    },
    {
        "id": "b0dc7c8d.a55d9",
        "type": "debug",
        "z": "d765e517.d9ca48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 270,
        "y": 220,
        "wires": []
    },
    {
        "id": "7d2ef50b.f227fc",
        "type": "link in",
        "z": "d765e517.d9ca48",
        "name": "evaluate_irrigation_measure",
        "links": [
            "c42ec0b0.bfc8"
        ],
        "x": 80,
        "y": 220,
        "wires": [
            [
                "6fc4f517.64f0bc"
            ]
        ]
    },
    {
        "id": "d3c3ccbb.eb88e",
        "type": "mqtt-broker",
        "z": "",
        "name": "home_server",
        "broker": "83.54.31.83",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "1",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]