onesait/flows/sres_modify_system_status.json
[
  {
    "id": "2d380c2d.77ed64",
    "type": "tab",
    "label": "sres_modify_system_status",
    "disabled": false,
    "info": ""
  },
  {
    "id": "51f3e484.5386ec",
    "type": "inject",
    "z": "2d380c2d.77ed64",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 120,
    "y": 80,
    "wires": [
      [
        "342876ee.1305da"
      ]
    ]
  },
  {
    "id": "342876ee.1305da",
    "type": "onesaitplatform-query-static",
    "z": "2d380c2d.77ed64",
    "name": "obtain systems",
    "ontology": "sres_estate_system",
    "targetDB": "",
    "queryType": "sql",
    "query": "select distinct(sysId) from sres_estate_system as c",
    "authentication": "cmxvcGV6djptdDhZMTFFVi9zL0RjbG4vcFRUanUzZS9pY1l0ckQ2YWNodVNrbW8zTkZBPQ==",
    "x": 220,
    "y": 180,
    "wires": [
      [
        "54458491.aa70ac"
      ]
    ]
  },
  {
    "id": "54458491.aa70ac",
    "type": "json",
    "z": "2d380c2d.77ed64",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 330,
    "y": 280,
    "wires": [
      [
        "127f7102.eb7f9f"
      ]
    ]
  },
  {
    "id": "127f7102.eb7f9f",
    "type": "split",
    "z": "2d380c2d.77ed64",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 430,
    "y": 120,
    "wires": [
      [
        "98454ff0.83e0b"
      ]
    ]
  },
  {
    "id": "8554b251.ce2b5",
    "type": "switch",
    "z": "2d380c2d.77ed64",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "empty"
      },
      {
        "t": "nempty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 430,
    "y": 420,
    "wires": [
      [
        "c9da0f93.0c7a7"
      ],
      []
    ]
  },
  {
    "id": "98454ff0.83e0b",
    "type": "function",
    "z": "2d380c2d.77ed64",
    "name": "check disconnected",
    "func": "var sysId = msg.payload;\nmsg.payload = \"\";\nmsg.sysId=sysId;\nmsg.ontology = '';\nmsg.queryType='SQL';\n//Obtains last measure\nmsg.query = 'select c.sysId from sres_irrigation_data as c where c.sysId =\"'+sysId+'\" order by c.timeStamp limit 1';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 140,
    "y": 300,
    "wires": [
      [
        "5e041be3.b4f594"
      ]
    ]
  },
  {
    "id": "d288ef50.9bf34",
    "type": "onesaitplatform-query-dynamic",
    "z": "2d380c2d.77ed64",
    "name": "modify_system_status",
    "authentication": "cmxvcGV6djptdDhZMTFFVi9zL0RjbG4vcFRUanUzZS9pY1l0ckQ2YWNodVNrbW8zTkZBPQ==",
    "x": 900,
    "y": 400,
    "wires": [
      [
        "7c338e86.4f507"
      ]
    ]
  },
  {
    "id": "c9da0f93.0c7a7",
    "type": "function",
    "z": "2d380c2d.77ed64",
    "name": "prepare modify status",
    "func": "var condition = {};\ncondition.sysId = msg.sysId;\nmsg.payload = \"\";\nmsg.ontology = 'sres_estate_system';\nvar data = {};\ndata['status'] = true;\n//modify.sysStatus = true;\nvar JSONUpdate = JSON.stringify(data);\nvar JSONCondition = JSON.stringify(condition);\nmsg.queryType='native';\nmsg.query = 'db.sres_estate_system.update('+JSONCondition+',{$set:'+JSONUpdate+'})';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 380,
    "wires": [
      [
        "d288ef50.9bf34",
        "57d927dc.b4cab8"
      ]
    ]
  },
  {
    "id": "7c338e86.4f507",
    "type": "debug",
    "z": "2d380c2d.77ed64",
    "name": "Result modify status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 1030,
    "y": 300,
    "wires": []
  },
  {
    "id": "5e041be3.b4f594",
    "type": "onesaitplatform-query-dynamic",
    "z": "2d380c2d.77ed64",
    "name": "",
    "authentication": "cmxvcGV6djptdDhZMTFFVi9zL0RjbG4vcFRUanUzZS9pY1l0ckQ2YWNodVNrbW8zTkZBPQ==",
    "x": 220,
    "y": 380,
    "wires": [
      [
        "8554b251.ce2b5"
      ]
    ]
  },
  {
    "id": "244d8287.702c9e",
    "type": "catch",
    "z": "2d380c2d.77ed64",
    "name": "",
    "scope": null,
    "x": 780,
    "y": 80,
    "wires": [
      [
        "771fa49e.93b4ec"
      ]
    ]
  },
  {
    "id": "771fa49e.93b4ec",
    "type": "debug",
    "z": "2d380c2d.77ed64",
    "name": "Exception",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 960,
    "y": 80,
    "wires": []
  },
  {
    "id": "f7a995a1.677048",
    "type": "mqtt in",
    "z": "2d380c2d.77ed64",
    "name": "system status",
    "topic": "sr/+/status",
    "qos": "0",
    "broker": "d3c3ccbb.eb88e",
    "x": 110,
    "y": 520,
    "wires": [
      [
        "e70877b8.11ae38",
        "f618c927.2b03e8"
      ]
    ]
  },
  {
    "id": "e70877b8.11ae38",
    "type": "function",
    "z": "2d380c2d.77ed64",
    "name": "Create Message",
    "func": "const OFF = 'off';\nvar newMsg = {};\nvar sysId;\nvar data = {};\nnewMsg.payload = {};\nif (msg.topic) {\n    var topicItems = msg.topic.split(\"/\");\n    if (topicItems.length==3) {\n        sysId = topicItems[1];\n        switch(topicItems[2]) {\n            case 'status' :\n            var content = msg.payload;\n            if (content && OFF === content) {\n                data['status'] = false;\n            } else {\n                data['status'] = true;\n            }\n            break;            \n        }\n        newMsg.ontology = 'sres_estate_system';\n        //modify.sysStatus = true;\n        var JSONupdate = JSON.stringify(data);\n        newMsg.queryType='SQL';\n        newMsg.query = 'update sres_estate_system set '+JSONupdate+' where sysId =\"'+sysId+'\"';\n        return newMsg;\n    }\n    \n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 540,
    "wires": [
      [
        "d288ef50.9bf34"
      ]
    ]
  },
  {
    "id": "f618c927.2b03e8",
    "type": "debug",
    "z": "2d380c2d.77ed64",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 260,
    "y": 640,
    "wires": []
  },
  {
    "id": "57d927dc.b4cab8",
    "type": "debug",
    "z": "2d380c2d.77ed64",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 490,
    "y": 600,
    "wires": []
  },
  {
    "id": "d3c3ccbb.eb88e",
    "type": "mqtt-broker",
    "z": "",
    "name": "home_server",
    "broker": "83.33.120.33",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "1",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]